@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'gow-font';
  line-height: 1.5;
  font-weight: 400;

  --primary: #fff;
  --secondary: #15d3c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: var(--secondary); 
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px; 
}

@font-face {
  font-family: 'gow-font';
  src: url('assets/fonts/GODOFWAR.TTF') format('truetype');
}
.custom-font {
  font-family: 'SuaFonte', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  font-family: 'gow-font';
  margin-bottom: 50px;
  padding-bottom: 10px;
}
body {
  background-color: var(--primary);
  font-family: 'gow-font';
}

h1 {
  color: #fff;
  line-height: 1.1;
}

h2, p, li {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  font-family: 'gow-font';
  padding: 12px 16px;
  border: 1px solid #ddd;
}

table th {
  color: #fff;
  text-align: left;
  font-weight: bold;
}

table td {
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #520000;
}

table tr:hover {
  background-color: #6f0000;
}

table a {
  text-decoration: underline;
  font-family: Poppins;
}

.card {
  will-change: filter;
  transition: filter 300ms;
}

.card:hover {
  filter: drop-shadow(0 0 px #ff0000aa);
}
.card.react:hover {
  filter: drop-shadow(0 0 2em #fb0303aa);
}
.card:focus,
.card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hero {
  background: url(../public/assets/);
  background-size: cover;
  width: 100%;
  height: 80vh; 
  border: #fff solid 2px;
  border-radius: 20px;
}

.hero-content {
  margin: 0 auto;
  padding: 100px;
}

footer {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .hero {
    background-position: center;
    background-position: 65% center; 
    height: 80vh;
  }
  .hero-content {
    padding: 10px;
  }
}
